# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.TMP

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

*.cgpr

*.stderr
*.stdout
